textarea {
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    position: relative;
  }
  .button{
    border: none;
    background-color: black;
    color: white;
    padding: 15px 32px;
  }
  #goBack{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
  }